### Data Types

#### Primitive Data Types

In [1]:
# Boolean Values
x = True
x

True

In [2]:
type(x)

bool

In [3]:
y = 100 < 10
y

False

In [4]:
type(y)

bool

In [5]:
x + y

1

In [6]:
x * y

0

In [7]:
True + True

2

In [8]:
bools = [True, True, False, True] # List of Boolean values

sum(bools)

3

In [9]:
# Numeric Types
x = complex(1, 2)
y = complex(2, 1)

print(x * y)

type(x)

5j

complex

#### Containers

In [10]:
x = ('a', 'b') # Parentheses instead of the square brackets
x = 'a', 'b' # Or no brackets --- the meaning is identical
x

('a', 'b')

In [11]:
type(x)

tuple

In [12]:
x = [1, 2]
x[0] = 10
x

[10, 2]

In [ ]:
x = (1, 2)
x[0] = 10

In [14]:
integers = (10, 20, 30)
x, y, z = integers
x

10

In [15]:
y

20

In [16]:
# Slice Notation
a = ["a", "b", "c", "d", "e"]
a[1:]

['b', 'c', 'd', 'e']

In [17]:
a[1:3]

['b', 'c']

In [18]:
a[-2:] # Last two elements of the list

['d', 'e']

In [19]:
a[::2]

['a', 'c', 'e']

In [20]:
a[-2::-1] # Walk backwards from the second last element to the first element

['d', 'c', 'b', 'a']

In [21]:
s = 'foobar'
s[-3:] # Select the last three elements

'bar'

In [22]:
# Sets and Dictionaries
d = {'name': 'Frodo', 'age': 33}
type(d)

dict

In [23]:
d['age']

33

In [24]:
s1 = {'a', 'b'}
type(s1)

set

In [25]:
s2 = {'b', 'c'}
s1.issubset(s2)

False

In [26]:
s1.intersection(s2)

{'b'}

In [27]:
s3 = set(('foo', 'bar', 'foo'))
s3

{'bar', 'foo'}

### Input and Output

In [28]:
f = open('newfile.txt', 'w') # Open 'newfile.txt' for writing
f.write('Testing\n') # Here '\n' means new line
f.write('Testing again')
f.close()

In [29]:
%pwd

'd:\\GIT-repository\\github-python-economics-and-finance\\python-economics-and-finance'

In [30]:
f = open('newfile.txt', 'r')
out = f.read()
out

'Testing\nTesting again'

In [31]:
print(out)

Testing
Testing again

#### Paths

In [ ]:
f = open('data/newfile.txt', 'r')

### Iterating


#### Looping over Different Objects

In [34]:
%%writefile data/us_cities.txt

new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Overwriting data/us_cities.txt

In [ ]:
data_file = open('data/us_cities.txt', 'r')

for line in data_file:
    city, population = line.split(':') # Tuple unpacking
    city = city.title() # Capitalize city names
    population = f'{int(population):,}' # Add commas to numbers
    print(city.ljust(15) + population)

data_file.close()

#### Looping without Indices

In [36]:
x_values = [1, 2, 3] # Some iterable x
for x in x_values:
    print(x * x)

1
4
9

In [37]:
for i in range(len(x_values)):
    print(x_values[i] * x_values[i])

1
4
9

In [38]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')

for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

In [39]:
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

{'Tom': 'E', 'John': 'F'}

In [40]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"letter_list[{index}] = '{letter}'")

letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

#### List Comprehensions

In [41]:
animals = ['dog', 'cat', 'bird']
plurals = [animal + 's' for animal in animals]
plurals

['dogs', 'cats', 'birds']

In [42]:
range(8)

range(0, 8)

In [43]:
doubles = [2 * x for x in range(8)]
doubles

[0, 2, 4, 6, 8, 10, 12, 14]

### Comparisons and Logical Operators

#### Comparisons

In [ ]:
x, y = 1, 2
x < y

In [ ]:
x > y

In [ ]:
1 < 2 < 3

In [ ]:
1 <= 2 <= 3

In [ ]:
x = 1 # Assignment
x == 2 # Comparison

In [ ]:
1 != 2

In [ ]:
x = 'yes' if 42 else 'no'
x

In [ ]:
x = 'yes' if [] else 'no'
x

#### Combining Expressions

In [ ]:
1 < 2 and 'f' in 'foo'

In [ ]:
1 < 2 and 'g' in 'foo'

In [ ]:
1 < 2 or 'g' in 'foo'

In [ ]:
not True

In [ ]:
not not True

In [ ]:
all([1 <= 2 <= 3, 5 <= 6 <= 7])

In [ ]:
all([1 <= 2 <= 3, "a" in "letter"])

In [ ]:
any([1 <= 2 <= 3, "a" in "letter"])

### Coding Style and Documentation

#### Docstrings

In [45]:
def f(x):
    """
    This function squares its argument
    """
    
    return x**2

In [ ]:
f?

In [ ]:
f??

### Exercises

In [ ]:
x_vals = [1, 2, 3]
y_vals = [1, 1, 1]
sum([x * y for x, y in zip(x_vals, y_vals)])

In [ ]:
sum(x * y for x, y in zip(x_vals, y_vals))

In [ ]:
sum([x % 2 == 0 for x in range(100)])

In [ ]:
sum(x % 2 == 0 for x in range(100))

In [ ]:
len([x for x in range(100) if x % 2 == 0])

In [ ]:
sum([1 for x in range(100) if x % 2 == 0])

In [ ]:
pairs = ((2, 5), (4, 2), (9, 8), (12, 10))
sum([x % 2 == 0 and y % 2 == 0 for x, y in pairs])

In [ ]:
def p(x, coeff):
    return sum(a * x**i for i, a in enumerate(coeff))

In [48]:
def f(string):
    count = 0
    
    for letter in string:
        if letter == letter.upper() and letter.isalpha():
            count += 1
    
    return count

f('The Rain in Spain')

3

In [49]:
def count_uppercase_chars(s):
    return sum([c.isupper() for c in s])

count_uppercase_chars('The Rain in Spain')

3

In [50]:
def f(seq_a, seq_b):
    for a in seq_a:
        if a not in seq_b:
            return False
    
    return True

# == test == #
print(f("ab", "cadb"))
print(f("ab", "cjdb"))
print(f([1, 2], [1, 2, 3]))
print(f([1, 2, 3], [1, 2]))

True
False
True
False

In [51]:
def f(seq_a, seq_b):
    return all([i in seq_b for i in seq_a])

# == test == #
print(f("ab", "cadb"))
print(f("ab", "cjdb"))
print(f([1, 2], [1, 2, 3]))
print(f([1, 2, 3], [1, 2]))

True
False
True
False

In [52]:
def f(seq_a, seq_b):
    return set(seq_a).issubset(set(seq_b))

In [53]:
def linapprox(f, a, b, n, x):
    """
    Evaluates the piecewise linear interpolant of f at x on the interval
    [a, b], with n evenly spaced grid points.
    Parameters
    ==========
        f : function
        The function to approximate
    
        x, a, b : scalars (floats or integers)
        Evaluation point and endpoints, with a <= x <= b
   
        n : integer
        Number of grid points
   
    Returns
    =======
    A float. The interpolant evaluated at x
    """
    
    length_of_interval = b - a
    num_subintervals = n - 1
    step = length_of_interval / num_subintervals
    
    # === find first grid point larger than x === #
    point = a
    
    while point <= x:
        point += step
    
    # === x must lie between the gridpoints (point - step) and point === #
    u, v = point - step, point
    return f(u) + (x - u) * (f(v) - f(u)) / (v - u)

In [54]:
import numpy as np

n = 100
ϵ_values = []

for i in range(n):
    e = np.random.randn()
    ϵ_values.append(e)

In [55]:
n = 100
ϵ_values = [np.random.randn() for i in range(n)]

### End.